# Dependencies
node_modules/
.pnp
.pnp.js

# Production build & Next.js cache
.next/
out/
dist/
build/

# Local Environment Variables
.env
.env.local
.env.*.local

# Editor & IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS metadata
.DS_Store
Thumbs.db
